@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,500,300);
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  background-color: #faddf0;
  /*background-position: 50%;
  background-repeat: no-repeat;*/
  font-family: "Raleway", sans-serif; }

.menu {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center; }

h1 {
  margin: 0 0 30px 0;
  text-align: center; }

h3 {
  text-align: center;
  font-weight: 900;
  font-size: 15px;
  margin: 15px; }

.lijn {
  margin-top: 10rem;
  background-image: url(../img/heart2.png);
  background-repeat: no-repeat;
  background-size: 31.25em;
  background-position: center;
  height: 7rem; }

.header {
  display: flex;
  position: absolute; }

.navicon {
  width: 100%;
  background: transparent;
  margin: 80px auto 40px 90%;
  position: fixed;
  height: 30px;
  width: 50px;
  display: block;
  z-index: 99;
  transition: linear 0.5s all; }
  @media only screen and (max-width: 56.25em) {
    .navicon {
      margin: 80px auto 40px 92%; } }
  @media only screen and (max-width: 37.5em) {
    .navicon {
      margin: 80px auto 40px 80%; } }
  .navicon:before, .navicon:after {
    background: #db7bf0;
    backface-visibility: hidden;
    content: "";
    height: 3px;
    left: 0;
    transition: 0.8s ease;
    width: 45px; }
    @media only screen and (max-width: 37.5em) {
      .navicon:before, .navicon:after {
        background: #a155b3; } }
  .navicon:before {
    box-shadow: #d158d3 0 14px 0 0;
    position: absolute;
    top: 0; }
    @media only screen and (max-width: 37.5em) {
      .navicon:before {
        background: #a155b3; } }
  .navicon:after {
    position: absolute;
    top: 28px; }
  .navicon--active {
    margin-top: 20px;
    transition: linear 0.5s all; }
    .navicon--active:before {
      box-shadow: transparent 0 0 0 0;
      top: 15px;
      transform: rotate(225deg); }
      @media only screen and (max-width: 37.5em) {
        .navicon--active:before {
          background: #fff; } }
      @media only screen and (max-width: 56.25em) {
        .navicon--active:before {
          background: #fff; } }
    .navicon--active:after {
      top: 15px;
      transform: rotate(315deg); }
      @media only screen and (max-width: 37.5em) {
        .navicon--active:after {
          background: #fff; } }
      @media only screen and (max-width: 56.25em) {
        .navicon--active:after {
          background: #fff; } }

.toggle {
  display: block;
  position: fixed;
  box-shadow: 0.5rem 1rem 1rem rgba(163, 36, 205, 0.1);
  width: 20%;
  background-color: rgba(187, 87, 184, 0.605);
  padding: 15px;
  margin-left: 65%;
  opacity: 0;
  transition: ease-in 0.5s all;
  transform: translateY(-200%);
  min-width: 320px; }
  @media only screen and (max-width: 37.5em) {
    .toggle {
      margin-left: 0;
      width: 100%; } }
  .toggle--active {
    display: block;
    opacity: 1;
    transition: ease-in 0.5s all;
    transform: translateY(0); }
  .toggle__menu {
    margin-bottom: 25px; }
    .toggle__menu li {
      width: 25%;
      display: block;
      margin: 10px auto; }
      .toggle__menu li a {
        text-decoration: none;
        color: #000;
        display: block;
        text-align: center;
        font-size: 17px;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        transition: linear 0.5s all;
        font-weight: 500;
        padding: 5px 0; }
        @media only screen and (max-width: 37.5em) {
          .toggle__menu li a {
            color: #fff; } }
        .toggle__menu li a span {
          text-transform: lowercase; }
        .toggle__menu li a:hover {
          color: #ffffff;
          border-bottom: 2px solid #c2bcba;
          transition: linear 0.5s all;
          transform: scale(1.15);
          font-weight: 700; }

.social {
  display: block;
  width: 70%;
  margin: 25px auto;
  text-align: center;
  font-size: 0; }
  .social li {
    display: inline-block;
    width: 25%;
    text-align: center; }
    .social li a {
      text-align: center;
      color: #000;
      font-size: 25px;
      transition: linear 0.5s all; }
      @media only screen and (max-width: 37.5em) {
        .social li a {
          color: #fff; } }
      .social li a:hover {
        color: #fff;
        transition: linear 0.5s all; }

.logo {
  position: absolute; }
  .logo__img {
    width: 10rem; }

.polish {
  background-image: url(../img/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 10rem; }

.info p {
  text-align: center;
  color: #999;
  text-transform: none;
  font-weight: 600;
  font-size: 15px;
  margin-top: 2px; }

.info i {
  color: #d093f6;
  transform: rotate(20deg);
  animation: animateHeart 1.2s infinite; }

/*p span {
  color: #f00;
  font-size: 2rem;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color: rgb(255, 255, 255);
}

form h1 {
  font-size: 18px;
  background: #924e99c4 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none;
  text-align: left;
}

form {
  border-radius: 5px;
  box-shadow: 0 1.5rem 1.5rem rgba(163, 36, 205, 0.3);
  max-width: 700px;
  width: 100%;
  margin: 5% auto;
  background-image: linear-gradient(
      to right top,
      rgba(243, 128, 220, 0.25),
      rgba(243, 128, 220, 0.2)
    ),
    url(../img/nagels.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

p span {
  color: #f00;
  font-size: 2rem;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color: rgb(255, 255, 255);
}

h1 {
  text-align: center;

  margin: 50px 0px 0px 0px;
}

input {
  background-color: rgba(255, 255, 255, 0.627);
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}

a {
  text-decoration: inherit;
}

textarea {
  background-color: rgba(255, 255, 255, 0.627);
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin: 0;
  width: 75%;
  height: 130px;
  float: left;
  padding: 0px 15px;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background: #eeeeee;
  height: 42px;
  position: relative;
  text-align: center;
  line-height: 40px;
}

i {
  color: #555;
}

.contentform {
  padding: 40px 30px;
}

.bouton-contact {
  background-color: #ad77c0bb;
  color: #fff;
  text-align: center;
  width: 100%;
  border: 0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
  &:hover {
    background-color: #ad77c0;
  }
}

.leftcontact {
  width: 49.5%;
  float: left;
  border-right: 1px dotted #ccc;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.rightcontact {
  width: 49.5%;
  float: right;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.validation {
  display: none;
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 13px;
  color: #de5959;
}

#sendmessage {
  border: 1px solid #fff;
  display: none;
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
  margin-bottom: 30px;
  background-color: #ebf6e0;
  color: #5f9025;
  border: 1px solid #b3dc82;
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,
.show {
  display: block;
}
*/
#body_header {
  width: auto;
  margin: 0px auto;
  text-align: center;
  font-size: 25px; }

form {
  max-width: 100%;
  margin: 10px auto;
  padding: 10px 20px;
  background-image: linear-gradient(to right, rgba(245, 240, 240, 0.741), rgba(245, 240, 240, 0.741)), url(../img/red-gee09cde18_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 1.2rem 1.5rem 1.5rem rgba(163, 36, 205, 0.3); }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: auto;
  outline: 0;
  padding: 8px;
  width: 100%;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
  cursor: pointer; }

input[type="checkbox"] {
  margin: 0 4px 8px 0; }

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px; }

button {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #cd9ac5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 50%;
  margin-left: 15%;
  border: 1px solid #cd9ac5;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s; }
  button:hover {
    background-color: #b14da2; }

fieldset {
  margin-bottom: 30px;
  border: none; }

legend {
  font-size: 1.4em;
  margin-bottom: 10px; }

label {
  display: block;
  margin-bottom: 8px; }

label.light {
  font-weight: 300;
  display: inline; }

.number {
  background-color: #9f5fcf;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%; }

form {
  max-width: 500px; }

.prijslijst {
  padding-right: 2rem;
  box-shadow: 0 1.5rem 1.5rem rgba(163, 36, 205, 0.3);
  border-radius: 3rem;
  background-image: linear-gradient(to right, rgba(243, 128, 220, 0.25), rgba(243, 128, 220, 0.9)), url(../img/gelnails.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin: 2rem;
  z-index: 1;
  transition: all ease-in 1.5s; }
  @media only screen and (max-width: 37.5em) {
    .prijslijst {
      margin: 0;
      padding-right: 0;
      font-size: 0.6rem; } }
  .prijslijst__heading {
    padding-top: 1rem;
    text-align: center;
    color: white;
    text-transform: none; }
  .prijslijst__list {
    text-align: end;
    margin-top: 1rem;
    list-style: none;
    margin-right: 2rem; }
    .prijslijst__list-item {
      padding: 1rem;
      transition: all 0.5s ease-in; }
      .prijslijst__list-item:hover {
        font-size: large; }
        @media only screen and (max-width: 37.5em) {
          .prijslijst__list-item:hover {
            font-size: 0.6rem; } }

.hide {
  opacity: 0; }

.show {
  opacity: 1; }

.voorstellen {
  padding-top: 25rem; }
  .voorstellen__welkom {
    text-align: center; }
  .voorstellen__text {
    margin-top: 2rem;
    padding-left: 20%;
    padding-right: 20%; }

.pictures {
  text-align: center; }
  .pictures__image {
    width: 20rem;
    height: 20rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    transition: all 0.2s;
    outline-offset: 1rem; }
    .pictures__image--1 {
      z-index: 15; }
    .pictures__image:hover {
      transform: scale(1, 1);
      outline: 3px solid #aa24c8; }
  .pictures:hover .pictures__image:not(:hover) {
    transform: scale(0.95); }

@keyframes animateHeart {
  0% {
    transform: rotate(20deg) scale(0.8); }
  5% {
    transform: rotate(20deg) scale(0.9); }
  10% {
    transform: rotate(20deg) scale(0.8); }
  15% {
    transform: rotate(20deg) scale(1); }
  50% {
    transform: rotate(20deg) scale(0.8); }
  100% {
    transform: rotate(20deg) scale(0.8); } }
